body.active-loginLogic{
    overflow-y: hidden;
  }
  .btn-loginLogic {
    padding: 10px 20px;
    display: block;
    margin: 500px auto;
    font-size: 80px;
    color: rgb(255, 0, 0);
  }

  .loginLogic, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
  }
  
  .overlay {
    background: rgba(49,49,49,0.8);
  }
  .loginLogic-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
  }
  
  .close-loginLogic {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
  }

  body{
    background-color: red;
  }
  h1{
    font-family: "Gill Sans", sans-serif;
    border-radius: 50%;

      color: pink;
      opacity: 60%;
      font-weight: bold;
      font-size: 60px;
      text-align:center;
  }
